* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

.bg-yellow {
  background-color: #ffc017;
}

.border-bottom-dark {
  border-bottom: 1px solid rgb(41, 41, 41);
}

.btn-rounded {
  border-radius: 20px;
}

.shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(153, 65, 38, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(153, 65, 38, 1);
  box-shadow: 10px 10px 5px 0px rgba(153, 65, 38, 1);
}

.aside-button> li {
  margin-bottom: 15px;
   background-color: rgba(242, 242, 242, 1); 
}

.border-top-dark{
  border: 1px solid rgb(230, 230, 230,1);
}

